path {
  fill: none;
  stroke-linejoin : round;
}

.sphere,
.graticule {
  stroke: blue;
  fill: white;
  stroke-width : 2px;
}

.equator {
  stroke: blue;
  stroke-width: 2px;
}

.title {
  text-anchor: middle ;
  font-size: 50px ;
  color: blue;
  text-align: center;
}

.ligne {
  stroke: #aaa ;
  stroke-width: 3px ;
}

.ligneTableau {
  stroke: #000 ;
  stroke-width: 2px ;
}

.title2 {
  font-size: 40px ;
  fill : black ;
}

.sousTitre {
  font-size: 17px ;
  fill : black ;
}
