path {
    fill: none;
    stroke: black
}

.background {
  fill: white;
  stroke-width: .8px;
  stroke: black;
}

.graticule {
    stroke: white;
    stroke-width: .5px;
}

.square {
    cursor: pointer;
}

.square .land {
    fill: #7AEBFF;
    stroke: white;
    stroke-width .3px;
}

.square .overlay {
    fill: blue;
    fill-opacity: 0;
}

.square .overlay {
    fill: orange;
    fill-opacity: 0;
}